<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="data:," />
    <meta
      name="google-site-verification"
      content="KiRRxA551B0Uj9qczyJk5lMrc8oBy81gxr_elklHGb8"
    />
    <link rel="stylesheet" href="/bootstrap/bootstrap.css" />
    <link rel="stylesheet" href="/css/popup.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <style>
      tr {
        transition: 400ms all;
      }
      .warninginfo {
        background: linear-gradient(to right, #f19717, #337ab7);
      }
      table {
        margin-bottom: 0px !important;
      }
      @media (max-width: 1250px) {
        .table-responsive {
          max-width: 1000px !important;
        }
      }
      @media (max-width: 1050px) {
        .table-responsive {
          max-width: 800px !important;
        }
      }
      @media (max-width: 850px) {
        .table-responsive {
          max-width: 600px !important;
        }
      }
      @media (max-width: 650px) {
        .table-responsive {
          max-width: 400px !important;
        }
      }
    </style>
    <title>Users</title>
  </head>

  <body>
    <div class="cont">
      <%- include('../inc/site_version.ejs') %>
      <div class="header">
        <div class="headercont">
          <div class="logo"><%- include('../inc/logo.ejs') %></div>
          <div class="right"><%- include('../inc/header_right.ejs') %></div>
        </div>
      </div>
      <div class="center center-max">
        <div class="centercont">
          <div class="posts admin-posts"  style="align-items: center">
            <h3>ADMIN | Users</h3>
            <span>
              <!-- <a href="/admin/reports">reports</a> -->
              <!-- <a href="/admin/bans">bans</a> -->
              <!-- <a href="/admin/suspends">suspends</a> -->
              <a href="/admin/sendnotif">send notif</a>
              <a href="/admin/posts">posts</a>
              <a href="/admin/users" class="selected">users</a>
              <a href="/admin/maintenance">maintenance</a>
              <a href="/admin/backup">download backup</a>
            </span>
          </div>
        </div>
      </div>
    </div>
    <%- include('../inc/popup.ejs') %>
    <i
      onclick="topFunction()"
      id="gotopbtn"
      title="Go to top"
      class="fas fa-arrow-up"
    ></i>

    <script src="/js/jquery.min.js"></script>

    <script src="/js/lazysizes.min.js" async></script>
    <script src="/js/theme.min.js"></script>
    <script src="/js/fontawesome.js"></script>
    <script src="/js/popup.js"></script>
    <script src="/js/utm_source.js"></script>
    <script src="/js/admin/main.js?ver=0.0.1"></script>
  </body>
</html>
