<div class="online-users-container">
    <div class="online-users">
        <div class="user">
            <span class="name">Kaan</span>
            <span class="status">Online</span>
        </div>
        <div class="user">
            <div class="name">Kaan2</div>
            <div class="status">Offline</div>
        </div>
    </div>
</div>